.container {
  width: 550px;
  border: 10px;
  padding: 50px 0 10px 0;
  display: block;
  border: solid 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-top: 20px;
  box-shadow: 6px 6px rgb(235, 222, 222);
}
.header {
  padding: 0 0 10px 0;
  text-align: center;
  font-size: 22px;
}

.col.right {
  text-align: left;
  padding: 0 0 0 25px;
}
.col.left {
  text-align: right;
  padding: 0 25px 0 0;
}
.row.form {
  text-align: center;
  padding: 0;
}
.row {
  margin: 0;
}
.col.col-3 {
  padding: 0;
}
input[type="search"] {
  font-size: 20px;
  text-align: center;
  box-shadow: 3px 3px rgb(235, 222, 222);
}
#current-button {
  color: grey;
  font-size: 18px;
  line-height: 22px;
  width: 110px;
  border: 2px solid;
  border-color: grey;
  height: 30px;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 3px 3px rgb(235, 222, 222);
}

#search-button {
  color: grey;
  font-size: 18px;
  line-height: 22px;
  width: 110px;
  border: 2px solid;
  border-color: grey;
  height: 30px;
  padding: 0;
  font-weight: bold;
  margin-left: 1px;
  position: relative;
  right: -20px;
  box-shadow: 3px 3px rgb(235, 222, 222);
}

#search-city {
  padding-left: 0;
}

#city-input {
  padding: 0;
  height: 28px;
}

.main {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
}

#main-city {
  text-transform: capitalize;
}
#main-temperature {
  text-align: left;
}
.col-3.humidity {
  position: relative;
  top: 25px;
  font-size: medium;
}

#central {
  font-size: 34px;
}
#celsius-temp {
  font-size: 17px;
}
#farenheit-temp {
  font-size: 17px;
}
.col-3.wind {
  position: relative;
  top: 25px;
  font-size: medium;
}
img {
  height: 55px;
}
.active {
  color: grey;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: grey;
}

.days {
  text-align: center;
  font-size: 18px;
}
p {
  margin: 0;
  font-size: 38px;
}

#signature {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
